.galerija {
    img {
        width: 100%;
        height: 100%;
    }
    #galleryId div {
        width: 16.666667%;
        height: 16.666667% !important;
        padding: 0;
        line-height: 0 !important;
        margin: 0 !important;
        @media #{$small-and-down} {
            width: 33.33334%;
        }
    }
    .col {
        padding: 0;
    } 
    .row {
        margin-bottom: 0;
    }
    
}